<!--
  ~ Copyright (c) 2019.
  ~ OOON.ME ALL RIGHTS RESERVED.
  ~ Licensed under the Mozilla Public License, version 2.0
  ~ Please visit http://ooon.me or mail to zhaihao@ooon.me
  -->

<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <conversionRule conversionWord="coloredLevel" converterClass="log.logback.ColoredLevel"/>
    <conversionRule conversionWord="coloredLogger" converterClass="log.logback.ColoredLogger"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>false</append>
        <file>${spark.yarn.app.container.log.dir:-logs}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${spark.yarn.app.container.log.dir:-logs}/stderr.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history 默认0 不限制 -->
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %coloredLevel %message \t %logger{40}\(%line\) %n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-70(%date{HH:mm:ss.SSS} %coloredLevel %logger{1}\(%line\)) %message %n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>


    <root level="DEBUG">
        <!--<appender-ref ref="ASYNC_STDOUT"/>-->
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
